[Unit]
Description=Braillatron device services
Wants=speech-dispatcher.service braillatron-ui.service braillatron-console-ui.service braillatron-ui-stub.service braillatron-sentinel.service braillatron-connectd.service braillatron-sync.timer

[Install]
WantedBy=multi-user.target
