# Default Braillatron output: Orange Pi 3.5 mm aux jack (usually ALSA card 0).
# Bootstrap runs setup-aux-audio.sh; switch with braillatron-audio-select.
pcm.!default {
  type plug
  slave.pcm "hw:0,0"
}

ctl.!default {
  type hw
  card 0
}
