LABEL=braillatron-data /data ext4 defaults,noatime 0 2
# braillatron volatile tmpfs (setup-overlay-ro.sh)
tmpfs /tmp tmpfs size=256M,noatime,nodev,nosuid,mode=1777 0 0
tmpfs /var/tmp tmpfs size=64M,noatime,nodev,nosuid,mode=1777 0 0
tmpfs /var/log tmpfs size=50M,noatime,nodev,nosuid,mode=0755 0 0
tmpfs /var/lib/braillatron tmpfs size=128M,noatime,nodev,nosuid,mode=0755 0 0
